<html>
   <body style="text-align: center;">      
      <p>
         {% with messages = get_flashed_messages() %}
           {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
           {% endif %}
         {% endwith %}
      </p>
      <form enctype="multipart/form-data" action="/upload_files" method="POST">
         <h1 style="color: navy;text-align:center;">Damage Detector and Repair Cost Estimator System for Cars</h1>
         <h3 style="color: navy;text-align:center;">AI SQUAD Team - Google Gen AI Hackathon 2024</h3>
         <br>
         <select name="cars" id="cars">
            <option value="Hyundai Aura">Hyundai Aura</option>
            <option value="Hyundai Creta">Hyundai Creta</option>
            <option value="Hyundai Grand i10">Hyundai Grand i10</option>
            <option value="Hyundai Santro">Hyundai Santro</option>
            <option value="Hyundai Venue">Hyundai Venue</option>
            <option value="Hyundai Verna">Hyundai Verna</option>
            <option value="Hyundai i10">Hyundai i10</option>
            <option value="Hyundai i20">Hyundai i20</option>
         </select>
         <h4 style="color: navy;text-align:center;">select all the images of car and its spare parts</h4>
         <input type="file"  style="color: navy;" name="files[]" multiple="true" autocomplete="off" required>
         <br>   
            <p> <input type="submit" value="Upload" /> </p>
      </form>
   </body>
</html>