<!DOCTYPE html>
<html>
<body>
   <form enctype="multipart/form-data" action="/submitClaim" method="POST">
        <h1 style="color: navy;text-align:center;">Damage Detector,Repair Cost Estimator and Inventory Management System</h1>
        <h3 style="color: navy;text-align:center;">AI SQUAD Team - Google Gen AI Hackathon 2024 </h3>
        
        <input type=text style="text-align:center;" id="brand" readonly>Brand</input>
        <input type=text style="text-align:center;" id="model" readonly>Model</input>
        <input type=text style="text-align:center;" id="totalSparesCost" readonly>Total Spares Cost</input>
        <input type=date style="text-align:center;" id="claimDate">Claim Date</input>
        <input type=text style="text-align:center;" id="claimAmount">Claim Amount</input>
        <input type=text style="text-align:center;" id="coverageAmount">Coverage Amount</input>
        <input type=text style="text-align:center;" id="licensePlate">License Plate/input>
        <input type=text style="text-align:center;" id="description">Description</input>
        <input type=text style="text-align:center;" id="insurancePolicyStatus">Insurance Policy Status</input>
        <input type=text style="text-align:center;" id="insuranceCompany">Insurance Company</input>
        <input type=text style="text-align:center;" id="insuranceNumber">Insurance Number</input>
        <input type=text style="text-align:center;" id="includedCoverages">Included Coverages</input>
        <input type=date style="text-align:center;" id="policyRenewalStatus">Policy Renewal Date</input>
        
        <input type="submit" value="Raise Claim" /> 
   </form>
</body>
</html>